body{
    height: 100vh;
}

.board{
    display:grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    background-color:lightblue;
    place-content: center;
    
}
.box{
    border-color:green;
    border-width:4px;
    border-style:solid;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:32pt;
    
}
#one, #two, #three {
    border-top:0;
}
#one, #four, #seven{
    border-left: 0;
}
#three, #six, #nine{
    border-right:0;
}
#seven, #eight, #nine{
    border-bottom: 0;
}
#playerturn{
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttondiv{
    display:flex;
    align-items: center;
    justify-content: center;
}
#startGame{
    border-style:none;
    border-radius: 22px;
    color:white;
    background-color:green;
    padding:32px;
    margin:6px;

}
